USE [dbElectrodomesticos]
GO
/****** Object:  Table [dbo].[CLIENTE]    Script Date: 7/1/2022 10:18:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTE](
	[CODCLI] [char](4) NOT NULL,
	[NOMCLI] [varchar](60) NOT NULL,
	[APECLI] [varchar](80) NOT NULL,
	[EMACLI] [varchar](80) NOT NULL,
	[CELCLI] [char](9) NOT NULL,
	[DIRCLI] [varchar](70) NOT NULL,
	[ESTCLI] [char](1) NOT NULL,
 CONSTRAINT [PK_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[CODCLI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTA]    Script Date: 7/1/2022 10:18:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTA](
	[CODVEN] [char](5) NOT NULL,
	[FECVEN] [datetime] NOT NULL,
	[CODCLI] [char](4) NOT NULL,
	[CODVEND] [char](4) NOT NULL,
	[ESTVEN] [char](1) NOT NULL,
 CONSTRAINT [PK_VENTA] PRIMARY KEY CLUSTERED 
(
	[CODVEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENTADETALLE]    Script Date: 7/1/2022 10:18:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENTADETALLE](
	[IDVENDET] [int] NOT NULL,
	[CODVEN] [char](5) NOT NULL,
	[CODPRO] [char](5) NOT NULL,
	[CANTPRO] [int] NOT NULL,
 CONSTRAINT [PK_VENTADETALLE] PRIMARY KEY CLUSTERED 
(
	[IDVENDET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTO]    Script Date: 7/1/2022 10:18:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTO](
	[CODPRO] [char](5) NOT NULL,
	[DESCPRO] [varchar](80) NOT NULL,
	[CATPRO] [char](1) NOT NULL,
	[PREPRO] [decimal](8, 2) NOT NULL,
	[STOCKPRO] [int] NOT NULL,
	[ESTPRO] [char](1) NOT NULL,
 CONSTRAINT [PK_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[CODPRO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vVENTA]    Script Date: 7/1/2022 10:18:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vVENTA] AS SELECT CONCAT(C.NOMCLI,' , ',C.APECLI) AS NOMBRES, P.DESCPRO , VD.CANTPRO , P.PREPRO, TOTAL=(VD.CANTPRO*P.PREPRO) 
FROM VENTADETALLE VD
INNER JOIN VENTA V ON VD.CODVEN = V.CODVEN
INNER JOIN CLIENTE C ON C.CODCLI = V.CODCLI
INNER JOIN PRODUCTO P ON P.CODPRO = VD.CODPRO
GO
/****** Object:  Table [dbo].[COMPRA]    Script Date: 7/1/2022 10:18:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRA](
	[CODCOM] [char](5) NOT NULL,
	[FECCOM] [datetime] NOT NULL,
	[CODPROV] [char](5) NOT NULL,
	[CODVEND] [char](4) NOT NULL,
	[ESTCOM] [char](1) NOT NULL,
 CONSTRAINT [PK_COMPRA] PRIMARY KEY CLUSTERED 
(
	[CODCOM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[COMPRA_DETALLE]    Script Date: 7/1/2022 10:18:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMPRA_DETALLE](
	[IDCOMDET] [int] NOT NULL,
	[CODCOM] [char](5) NOT NULL,
	[CODPRO] [char](5) NOT NULL,
	[CANTPRO] [int] NOT NULL,
 CONSTRAINT [PK_COMPRA_DETALLE] PRIMARY KEY CLUSTERED 
(
	[IDCOMDET] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDOR]    Script Date: 7/1/2022 10:18:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDOR](
	[CODPROV] [char](5) NOT NULL,
	[RAZSOCPROV] [varchar](90) NOT NULL,
	[RUCPROV] [varchar](11) NOT NULL,
	[EMAPROV] [varchar](70) NOT NULL,
	[ESTPROV] [char](1) NOT NULL,
 CONSTRAINT [PK_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[CODPROV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VENDEDOR]    Script Date: 7/1/2022 10:18:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VENDEDOR](
	[CODVEND] [char](4) NOT NULL,
	[NOMVEND] [varchar](60) NOT NULL,
	[APEVEND] [varchar](80) NOT NULL,
	[EMAVEND] [varchar](80) NOT NULL,
	[CELVEND] [char](9) NOT NULL,
	[DIRVEND] [varchar](70) NOT NULL,
	[ESTVEND] [char](1) NOT NULL,
 CONSTRAINT [PK_VENDEDOR] PRIMARY KEY CLUSTERED 
(
	[CODVEND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_COMPRA_PROVEEDOR] FOREIGN KEY([CODPROV])
REFERENCES [dbo].[PROVEEDOR] ([CODPROV])
GO
ALTER TABLE [dbo].[COMPRA] CHECK CONSTRAINT [FK_COMPRA_PROVEEDOR]
GO
ALTER TABLE [dbo].[COMPRA]  WITH CHECK ADD  CONSTRAINT [FK_COMPRA_VENDEDOR] FOREIGN KEY([CODVEND])
REFERENCES [dbo].[VENDEDOR] ([CODVEND])
GO
ALTER TABLE [dbo].[COMPRA] CHECK CONSTRAINT [FK_COMPRA_VENDEDOR]
GO
ALTER TABLE [dbo].[COMPRA_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_COMPRA_DETALLE_COMPRA] FOREIGN KEY([CODCOM])
REFERENCES [dbo].[COMPRA] ([CODCOM])
GO
ALTER TABLE [dbo].[COMPRA_DETALLE] CHECK CONSTRAINT [FK_COMPRA_DETALLE_COMPRA]
GO
ALTER TABLE [dbo].[COMPRA_DETALLE]  WITH CHECK ADD  CONSTRAINT [FK_COMPRA_DETALLE_PRODUCTO] FOREIGN KEY([CODPRO])
REFERENCES [dbo].[PRODUCTO] ([CODPRO])
GO
ALTER TABLE [dbo].[COMPRA_DETALLE] CHECK CONSTRAINT [FK_COMPRA_DETALLE_PRODUCTO]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_CLIENTE] FOREIGN KEY([CODCLI])
REFERENCES [dbo].[CLIENTE] ([CODCLI])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_CLIENTE]
GO
ALTER TABLE [dbo].[VENTA]  WITH CHECK ADD  CONSTRAINT [FK_VENTA_VENDEDOR] FOREIGN KEY([CODVEND])
REFERENCES [dbo].[VENDEDOR] ([CODVEND])
GO
ALTER TABLE [dbo].[VENTA] CHECK CONSTRAINT [FK_VENTA_VENDEDOR]
GO
ALTER TABLE [dbo].[VENTADETALLE]  WITH CHECK ADD  CONSTRAINT [FK_VENTADETALLE_PRODUCTO] FOREIGN KEY([CODPRO])
REFERENCES [dbo].[PRODUCTO] ([CODPRO])
GO
ALTER TABLE [dbo].[VENTADETALLE] CHECK CONSTRAINT [FK_VENTADETALLE_PRODUCTO]
GO
ALTER TABLE [dbo].[VENTADETALLE]  WITH CHECK ADD  CONSTRAINT [FK_VENTADETALLE_VENTA] FOREIGN KEY([CODVEN])
REFERENCES [dbo].[VENTA] ([CODVEN])
GO
ALTER TABLE [dbo].[VENTADETALLE] CHECK CONSTRAINT [FK_VENTADETALLE_VENTA]
GO
/****** Object:  StoredProcedure [dbo].[spInsertCliente]    Script Date: 7/1/2022 10:18:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spInsertCliente]
    (
        @CODCLI char(4),
        @NOMCLI varchar(60),
        @APECLI varchar(80),
        @EMACLI varchar(80),
        @CELCLI char(9),
        @DIRCLI varchar(70),
        @ESTCLI char(1)
            )
AS
BEGIN
    SET NOCOUNT ON
    BEGIN TRAN /* TRANSACCIONES */
    BEGIN TRY
        IF (SELECT COUNT(*) FROM CLIENTE WHERE CLIENTE.CODCLI = @CODCLI ) = 1
            ROLLBACK TRAN;
        ELSE 
            INSERT INTO CLIENTE
            (CODCLI, NOMCLI	, APECLI, EMACLI, CELCLI, DIRCLI, ESTCLI)
            VALUES
            (@CODCLI, UPPER(@NOMCLI), UPPER(@APECLI),@EMACLI, @CELCLI, @DIRCLI, @ESTCLI)
            COMMIT TRAN
    END TRY
    BEGIN CATCH
        SELECT 'Este cliente ya ha sido registrado' AS ERROR
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertProducto]    Script Date: 7/1/2022 10:18:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spInsertProducto]
    (
        @CODPRO char(5),
        @DESCPRO varchar(80),
        @CATPRO char(1),
        @PREPRO decimal(8,2),
        @STOCKPRO int,
        @ESTPRO char(1)
            )
AS
BEGIN
    SET NOCOUNT ON
    BEGIN TRAN /* TRANSACCIONES */
    BEGIN TRY
        IF (SELECT COUNT(*) FROM PRODUCTO WHERE PRODUCTO.CODPRO= @CODPRO) = 1
            ROLLBACK TRAN;
        ELSE 
            INSERT INTO PRODUCTO
            (CODPRO, DESCPRO, CATPRO, PREPRO, STOCKPRO, ESTPRO)
            VALUES
            (@CODPRO, @DESCPRO,@CATPRO,@PREPRO, @STOCKPRO, @ESTPRO)
            COMMIT TRAN
    END TRY
    BEGIN CATCH
        SELECT 'Este Producto ya ha sido registrado' AS ERROR
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[spInsertVendedor]    Script Date: 7/1/2022 10:18:57 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spInsertVendedor]
    (
        @CODVEND char(4),
        @NOMVEND varchar(60),
        @APEVEND varchar(80),
        @EMAVEND varchar(80),
        @CELVEND char(9),
        @DIRVEND varchar(70),
        @ESTVEND char(1)
            )
AS
BEGIN
    SET NOCOUNT ON
    BEGIN TRAN /* TRANSACCIONES */
    BEGIN TRY
        IF (SELECT COUNT(*) FROM VENDEDOR WHERE VENDEDOR.CODVEND = @CODVEND ) = 1
            ROLLBACK TRAN;
        ELSE 
            INSERT INTO VENDEDOR
            (CODVEND, NOMVEND, APEVEND, EMAVEND, CELVEND, DIRVEND, ESTVEND)
            VALUES
            (@CODVEND, UPPER(@NOMVEND), UPPER(@APEVEND),@EMAVEND, @CELVEND, @DIRVEND, @ESTVEND)
            COMMIT TRAN
    END TRY
    BEGIN CATCH
        SELECT 'Este Vendedor ya ha sido registrado' AS ERROR
        IF @@TRANCOUNT > 0 ROLLBACK TRAN;
    END CATCH
END
GO
